.form-container{
  width: 100%;
  height: calc(100vh - 80px);
  position: relative;

  @media screen and (max-width: 768px) {
    height: unset;
    min-height: calc(100vh - 120px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
h1{
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
.form {
  width: 100%;
  max-width: 290px;
  text-align: center;
}
.form-logo {
  width: 50px;
  height: 50px;
  margin: 28px auto;
  border-radius: var(--primary-border-radius);
}
.form-button-container {
  margin-top: 48px;
  button{
    width: 100%;
  }
}
