.remain-item {
  border-bottom: 1px solid var(--primary-border-color);
  padding: 6px 0;

  .title {
    font-size: 18px;
    font-weight: 500;
  }
  .fields {
    font-weight: 300;
    font-size: 16px;
    font-style: italic;
  }
  .field {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 4px;
    gap: 6px;
  }

  .field-value {
    font-weight: 400;
  }

  .remain-body{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }
}
