<router-outlet></router-outlet>


<div class="network-status-offline" *ngIf="!network_status_online">Оффлайн режим</div>

<div class="platform-modal-popup">
  <ng-template #addToHomeScreenPopupBody>
    <div class="add-to-homescreen-container" *ngIf="modal_pwa_platform$ | async as modal_pwa_platform">
      <h3>Добавьте приложение на рабочий стол</h3>
      <div class="absolute-center">
        <button class="button" (click)="addToHomeScreen()" *ngIf="modal_pwa_platform === 'ANDROID'">Добавить</button>
      </div>
    </div>
  </ng-template>

  <app-popup
    [body]="addToHomeScreenPopupBody"
    #addToHomeScreenPopup
  ></app-popup>
</div>
<app-loader #loader></app-loader>

<app-error></app-error>

