
<div class="main">
  <div class="content">
    <div class="btn-container">
      <button class="func-btn">
        <div class="icon-container">
          <div [lazyLoad]="'/assets/images/icons/inventory-icon.png'" class="absolute-center rounded-full icon"></div>
        </div>
        <span class="text">Инвентаризация</span>
      </button>

      <button class="func-btn">
        <div class="icon-container">
          <div [lazyLoad]="'/assets/images/icons/warehouse-icon.png'" class="absolute-center rounded-full icon"></div>
        </div>
        <span class="text">Переход на склад</span>
      </button>

      <button class="func-btn">
        <div class="icon-container">
          <div [lazyLoad]="'/assets/images/icons/accommodation-icon.png'" class="absolute-center rounded-full icon"></div>
        </div>
        <span class="text">Размещение</span>
      </button>

      <button class="func-btn">
        <div class="icon-container">
          <div [lazyLoad]="'/assets/images/icons/selection-icon.png'" class="absolute-center rounded-full icon"></div>
        </div>
        <span class="text">Отбор</span>
      </button>

      <button class="func-btn">
        <div class="icon-container">
          <div [lazyLoad]="'/assets/images/icons/moving-icon.png'" class="absolute-center rounded-full icon"></div>
        </div>
        <span class="text">Перемещение</span>
      </button>
    </div>

<!--    <button (click)="startCam()">Запустить камеру</button>-->
  </div>




</div>


<app-header></app-header>


<!--<ng-template #popupBody>-->
<!--    <app-scanner #scanner style="width: calc(100% + 48px);margin: 0 -24px;"></app-scanner>-->
<!--</ng-template>-->

<!--<app-popup-->
<!--  [body]="popupBody"-->
<!--  (display_event)="onDisplay($event)"-->
<!--  #popup-->
<!--&gt;</app-popup>-->

